.link {
  border-radius: var(--br-14);
  background-color: var(--color-white);
  border: var(--border-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--fs-12);
  color: var(--color-royalblue);
  font-family: var(--font-inter);
}
.containerIcon {
  align-self: stretch;
  height: var(--height-294_5);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container {
  align-self: stretch;
  height: var(--height-280);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24) var(--padding-23) var(--padding-24)
    var(--padding-24);
  box-sizing: border-box;
  gap: var(--gap-16);
}
.containerParent {
  flex-direction: column;
  gap: var(--gap-8);
}
.container2,
.containerParent,
.text {
  display: flex;
  align-items: flex-start;
}
.container2 {
  width: var(--width-344_7);
  justify-content: space-between;
  gap: var(--gap-20);
  z-index: 2;
}
.text {
  height: var(--height-16);
  width: 42.4px;
}
.bis001 {
  position: relative;
  letter-spacing: var(--ls-0_3);
  line-height: var(--lh-16);
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
}
.text2 {
  height: var(--height-24);
  width: 72.5px;
  border-radius: var(--br-33554400);
  background-color: var(--color-honeydew);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-4) var(--padding-1) var(--padding-4) var(--padding-8);
  box-sizing: border-box;
  color: var(--color-forestgreen);
}
.stock245 {
  position: relative;
  line-height: var(--lh-16);
  font-weight: 600;
}
.heading3 {
  width: var(--width-344_7);
  height: var(--height-27);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  font-size: var(--fs-18);
  color: var(--color-gray-100);
}
.bisagraInoxidableFija {
  margin-top: -1px;
  height: var(--height-27);
  width: 279px;
  position: relative;
  line-height: var(--lh-27);
  display: inline-block;
}
.paragraph {
  height: var(--height-40);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-14);
  color: var(--color-slategray);
}
.bisagraDeAcero {
  margin-top: -1px;
  height: var(--height-80);
  width: var(--width-345);
  position: relative;
  line-height: var(--lh-20);
  display: inline-block;
  flex-shrink: 0;
}
.container3,
.container4,
.text3 {
  display: flex;
  align-items: flex-start;
}
.container3 {
  width: var(--width-344_7);
  flex-direction: column;
  gap: var(--gap-8);
  font-size: var(--fs-14);
  color: var(--color-lightslategray);
}
.container4,
.text3 {
  height: var(--height-20);
}
.container4 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.text3 {
  width: var(--width-53_6);
}
.material {
  position: relative;
  line-height: var(--lh-20);
  flex-shrink: 0;
}
.text4 {
  width: 134.5px;
  color: var(--color-gray-100);
}
.text4,
.text5,
.text6 {
  height: var(--height-20);
  display: flex;
  align-items: flex-start;
}
.text5 {
  width: var(--width-82_3);
}
.text6 {
  width: 98.5px;
  color: var(--color-gray-100);
}
.x75X {
  position: relative;
  line-height: var(--lh-20);
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
}
.container6 {
  width: var(--width-344_7);
  height: var(--height-45);
  border-top: var(--border-1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-16) var(--padding-0) var(--padding-0);
  gap: var(--gap-20);
  cursor: pointer;
  font-size: var(--fs-20);
  color: var(--color-gray-100);
}
.container7 {
  height: var(--height-28);
  width: var(--width-89_9);
  display: flex;
  align-items: flex-start;
}
.consultar {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-28);
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.container8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2) var(--padding-0);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-112_1);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  gap: var(--gap-0_1);
}
.icon,
.verDetalles {
  position: relative;
  flex-shrink: 0;
}
.verDetalles {
  margin-top: -4px;
  height: var(--height-24);
  width: var(--width-92);
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-royalblue);
  text-align: left;
  display: inline-block;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-20);
  width: var(--width-20);
}
@media screen and (max-width: 450px) {
  .container {
    height: auto;
  }
  .container4 {
    height: auto;
    flex-wrap: wrap;
  }
  .consultar {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
}
