.list,
.listItem {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.list {
  height: var(--height-76);
  flex-direction: column;
  gap: var(--gap-8);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-lightgray);
  font-family: var(--font-inter);
}
.listItem {
  height: var(--height-20);
}
.quinesSomos {
  flex: 1;
  position: relative;
  line-height: var(--lh-20);
}
